<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593965927948-tarra77e8gb61rt4knrbruk7e9le26q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593965927948-tarra77e8gb61rt4knrbruk7e9le26q0</string>
	<key>API_KEY</key>
	<string>AIzaSyAr7u2D0KUd44bEbbDgSNkKKZtH14I9EA4</string>
	<key>GCM_SENDER_ID</key>
	<string>593965927948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApp</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-2e792</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-2e792.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593965927948:ios:9cdc0b63c7e36697d2e829</string>
</dict>
</plist>